.brumas-aromas {
    color:$fragancias;
    
}


.brumas-aromas {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: $padding;
}


.brumas-pic {
    padding: 10px;
}


#velas {
    color: $fragancias;
    
    
}

.fragancia-velas{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
