$links: rgb(70, 70, 11);

$links-h:  rgb(114, 114, 26);

$fragancias: rgb(180, 179, 86);

$padding: 25px;

$scale:  all 0.5s ease-in-out;

$scale-h: scale(1.2);

$display-foot: inline-block;

$padding-foot: 5px;